@media(max-width:599px){
    .age_message{width: 100%; height: 100%; background-color: #000; opacity: 0.8; position: fixed; top: 0; left: 0; overflow: hidden; z-index: 3;} 
    .message_box { width: 80%; height: 400px; border: 1px solid #000; margin: 0 auto; position: fixed; top:25%; left: 10%; background-color: #13377d; color:#fff; z-index: 4; text-align: center; }
    .message_box p {font-size: 25px;}
    .message_box span{font-size: 13px ;}
    .yes_or_no{ display: flex; justify-content: space-around; }
    .yes, .no{width: 40%; height: 50px; background-color: #fff; color: #13377d; font-size: 20px; text-align: center; font-size:  36px; font-weight: bold;} 
    .yes {float: left; cursor: pointer;}
    .no{float: right; cursor: pointer;}
  
    
  
    .slide{width: 100%; height:400px;overflow:hidden; margin: 0 auto; cursor: pointer;}
    .slide ul{width:calc(100% * 3);display:flex ;animation:slide 12s infinite;} 
    .slide li{width:calc(100% / 3);height:400px;}
    .slide ul li a{width: 100%; height: 100%; display: block;}
    .intro{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 17% 0 0 0;}
    .intro_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0;}
    .brand_introduce:hover .intro{opacity: 0.63;  transition: 0.7s; }
    .product_introduce{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 17% 0 0 0;}
    .pl_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 15px 0 0 0; font-size: 24px;}
    .product_link:hover .product_introduce{opacity: 0.63;  transition: 0.7s; }
    .hoegaarden_mas{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 20% 0 0 0;}
    .mas_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0;}
    .x_mas:hover .hoegaarden_mas{opacity: 0.63;  transition: 0.7s; }
    .slide li:nth-child(1){background-image: url('../img/main/main_banner1.jpg'); background-size: 100% 100%;}
    .slide li:nth-child(2){background-image: url('../img/main/main_banner2.jpg'); background-size: 100% 100%;}
    .slide li:nth-child(3){background-image: url('../img/main/main_banner3.jpg'); background-size: 100% 100%;}
    @keyframes slide {
      0% {margin-left:0;}
      20% {margin-left:0;}
      33% {margin-left:-100%;}
      50% {margin-left:-100%;}
      66% {margin-left:-200%;}
      80% {margin-left:-200%;}
      100% {margin-left:0;}
    }


    .story{width: 100%; height: 1000px; text-align: center; margin: 0 auto;}
    .story>div {margin: 5% 0;}
    .text{width:  300px; height: 100%; float: left;}

    .story_video{width: 100%; height: 420px; float: left;}
    .story_video .text {width:30%; height:70% ;margin: 0 0 0 5%;}
    .story_video iframe{width: 60%; height: 70%; float: left; border-radius: 20px;}
    .story_video p{font-size: 14px;}
    .story_video h1 {font-size: 14px; padding: 30% 0 0 0;}

    .story_brand{width: 100%; height: 300px; float: right;}
    .story_brand .text{width:30%; float: right; margin: 0 5% 0 0;}
    .story_brand h1{font-size: 14px; padding: 30% 0 0 0 ;}
    .story_brand img{float: right; width: 65%; height:  70%; margin: 0 auto; border-radius: 20px;}
    .brand_button{width: 80%; height: 10%; border: 1px solid; color:#000; text-align: center; margin: 10% 0; background-color: #fff; cursor: pointer;}
    .brand_button a:link, .brand_button a:visited {color:#000;}
    .brand_button:hover{border: none; background-color: #000; color:#fff;}
    .brand_button a:hover{color:#fff;}

    .story_product{width: 100%; height: 300px; float: left;overflow: hidden; position: relative;}
    .story_product .text{width:25% ;height:100% ;margin: 0 0 0 5%;}
    .story_product span{font-size: 25px; color: #13377d; font-family: 'Great Vibes', cursive;}
    .story_product h1{font-size: 14px;  padding: 40% 0 0 0;}
    .fade_img{width: 60%; height: 85%; float:left; }
    .fade_img img {width: 100%; height: 100%; }
    .fade_img ul {position:relative; width: 100%; height: 100%; }
    .fade_img li{width: 100%; height: 100%; position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;animation:fade 9s infinite; border-radius: 20px; }
    .fade_img ul li a{width: 100%; height: 100%; display: block; }
    .fade_img li:nth-child(1){background-image: url(../img/main/fade_banner1.jpg); animation-delay:0s; background-size: 100% 100%;}
    .fade_img li:nth-child(2){background-image: url(../img/main/fade_banner2.jpg); animation-delay:3s; background-size: 100% 100%;}
    .fade_img li:nth-child(3){background-image: url(../img/main/fade_banner3.jpg); animation-delay:6s; background-size: 100% 100%;}
    .product_button{width: 80%; height: 10%; border: 1px solid; color:#000; text-align: center; margin: 10% 0;  background-color: #fff; cursor: pointer;}
    .product_button a:link, .product_button a:visited {color:#000;}
    .product_button:hover{border: none; background-color: #000; color:#fff;}
    .product_button a:hover{color:#fff;}



    @keyframes fade {
      0% {opacity:0;}
      3% {opacity: 1;}
      33% {opacity: 1;}
      40% {opacity: 0;}
      100% {opacity:0;}
    }


    .event_slide{width: 100%; height:250px; overflow:hidden; margin: 0 auto; border-radius: 20px;}
    .event_slide ul{width:calc(100% * 3); display:flex; transition:1s;}
    .event_slide li{width:calc(100% / 3); height:250px;}
    .event_slide ul li a{width: 100%; height: 100%; display: block;}
    .event_slide li:nth-child(1){background-image: url(../img/main/event_banner1.jpg); background-size: 100% 100%; background-repeat: no-repeat;}
    .event_slide li:nth-child(2){background-image: url(../img/main/event_banner2.jpg); background-size: 100% 100%; background-repeat: no-repeat;}
    .event_slide li:nth-child(3){background-image: url(../img/main/event_banner3.jpg); background-size: 100% 100%; background-repeat: no-repeat;}
    .event_slide input{display:none;}
    .slide_button{position:relative;bottom:35px;left:0;right:0;text-align:center;z-index:2;}
    .slide_button label{width:10px; height:10px; border-radius:10px; border:2px solid #666; display:inline-block; background:#fff; font-size:0; transition:0.5s; cursor:pointer;}
    #pos1:checked ~ ul{margin-left:0; transition: 1.3s;}
    #pos2:checked ~ ul{margin-left:-100%; transition: 1.3s; }
    #pos3:checked ~ ul{margin-left:-200%; transition: 1.3s;}
    #pos1:checked ~ .slide_button label:nth-child(1),
    #pos2:checked ~ .slide_button label:nth-child(2),
    #pos3:checked ~ .slide_button label:nth-child(3){background:#666;}

    .middle_banner{width: 75%; height: 600px; margin: 0 auto; padding: 100px 0 0 0 ;}
    .middle_banner a:link{color:#fff;}
    .middle_banner a:visited{color:#fff;}
    .puzzle_banner{width: 100%; height: 100%; margin:0 auto;  text-align: center;}
    .puzzle_banner img{width: 100%; height: 100%;}
    .puzzle_1{width: 49%; height: 55%; float: left; background:url(../img/main/puzzle_banner1.jpg); background-size: cover; background-size: 100% 100%; overflow: hidden; font-size: 16px; margin: 0 0.5% 1% 0; border-radius: 20px;}
    .puzzle_text1{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0 auto; padding: 10% 0; transform: rotateY(-180deg);}
    .puzzle_banner span{color:darkgoldenrod; font-weight:bold; font-size: 20px;}
    .puzzle_1:hover .puzzle_text1{opacity: 0.63; transition: 1.5s;  transform: rotateY(0deg) ;  }
    .puzzle_2{width: 49%; height: 55%; float: right; background:url(../img/main/puzzle_banner2.jpg); background-size: cover; background-size: 100% 100%; overflow: hidden; font-size: 16px; margin: 0 0 1% 0.5%; border-radius: 20px;}
    .puzzle_text2{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 10% 0; transform: rotateY(-180deg);}
    .puzzle_2:hover .puzzle_text2{opacity: 0.63; transition: 1.5s;  transform: rotateY(0deg) ;  }
    .our{font-size: 36px; color: #fff;}
    .puzzle_3{width: 100%; height: 45%; float: left; background:url(../img/main/puzzle_banner3.jpg); background-size: cover; background-size: 100% 100%; overflow: hidden; font-size: 16px; border-radius: 20px;}
    .puzzle_text3{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 10% 0; transform: rotateX(-180deg);}
    .puzzle_3:hover .puzzle_text3{opacity: 0.63; transition: 1.5s;  transform: rotateX(0deg) ;  }
    .puzzle_text3 .detail_button{padding: 2% 0;}
    .detail_button{width: 120px; height: 50px; font-weight: bold; margin: 0 auto; padding:4% 0; background-color: #fff; color:#000; text-align: center; font-size: 14px; }

    }


    @media(min-width:600px) and (max-width:1199px) { 
    .age_message{width: 100%; height: 100%; background-color: #000; opacity: 0.8; position: fixed; top: 0; left: 0; overflow: hidden; z-index: 3; } 
    .message_box { width: 400px; height: 400px; border: 1px solid #000; margin: 0 auto; position: fixed; top:25%; left: 27%; background-color: #13377d; color:#fff; z-index: 4; text-align: center; }
    .message_box p {font-size: 25px;}
    .message_box span{font-size: 13px ;}
    .yes_or_no{ display: flex; justify-content: space-around; }
    .yes, .no{width: 150px; height: 50px; background-color: #fff; color: #13377d; font-size: 20px; text-align: center; font-size:  36px; font-weight: bold;} 
    .yes {float: left; cursor: pointer;}
    .no{float: right; cursor: pointer;}
  
    
  
    .slide{width: 100% ;height:587px;overflow:hidden; margin: 0 auto; cursor: pointer;}
    .slide ul{width:calc(100% * 3);display:flex ;animation:slide 12s infinite;} 
    .slide li{width:calc(100% / 3);height:587px;}
    .slide ul li a{width: 100%; height: 100%; display: block;}
    .intro{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 10% 0 0 0;}
    .intro_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0;}
    .brand_introduce:hover .intro{opacity: 0.63;  transition: 0.7s; }
    .product_introduce{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 10% 0 0 0;}
    .pl_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 15px 0 0 0; font-size: 22px;}
    .product_link:hover .product_introduce{opacity: 0.63;  transition: 0.7s; }
    .hoegaarden_mas{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 15% 0 0 0;}
    .mas_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0;}
    .x_mas:hover .hoegaarden_mas{opacity: 0.63;  transition: 0.7s; }
    .slide li:nth-child(1){background-image: url(../img/main/main_banner1.jpg); background-size:100% 100%}
    .slide li:nth-child(2){background-image: url(../img/main/main_banner2.jpg); background-size:100% 100%}
    .slide li:nth-child(3){background-image: url(../img/main/main_banner3.jpg); background-size:100% 100%}
    @keyframes slide {
      0% {margin-left:0;}
      20% {margin-left:0;}
      33% {margin-left:-100%;}
      50% {margin-left:-100%;}
      66% {margin-left:-200%;}
      80% {margin-left:-200%;}
      100% {margin-left:0;}
    }


    .story{width: 100%; height: 1600px; text-align: center; margin: 0 auto;}
    .story>div {margin: 15% 0;}
    .text{width:  300px; height: 100%; float: left;}

    .story_video{width: 100%; height: 420px; float: left; font-size: 14px;}
    .story_video .text {width: 30%; margin: 0 0 0 5%;}
    .story_video iframe{width: 60%; height: 100%; float: left; border-radius: 20px;}
    .story_video h1 {padding:25% 0 0 0;}
    .story_video p{font-size: 20px;}

    .story_brand{width: 100%; height: 420px; float: right; font-size: 14px;}
    .story_brand .text{width:35%; float: right; margin: 0 3% 0 0;}
    .story_brand h1{padding: 25% 0 0 0;}
    .story_brand img{float: right; width: 60%; height: 100%; margin: 0 auto; border-radius: 20px;}
    .brand_button{width: 150px; height: 50px; border: 1px solid; color:#000; text-align: center; padding: 10px 0 10px 0; margin: 10% 0; background-color: #fff; cursor: pointer;}
    .brand_button a:link, .brand_button a:visited {color:#000;}
    .brand_button:hover{border: none; background-color: #000; color:#fff;}
    .brand_button a:hover{color:#fff;}

    .story_product{width: 100%; height: 420px; float: left;font-size: 14px; overflow: hidden; position: relative; }
    .story_product .text{width: 30%; margin: 0 0 0 5%;}
    .story_product span{font-size: 46px; color: #13377d; font-family: 'Great Vibes', cursive;}
    .story_product h1{padding: 25% 0 0 0;}

    .fade_img{width: 65%; height: 100%; float: left;}
    .fade_img img {width: 100%; height: 100%; }
    .fade_img ul {position:relative; height: 100%;}
    .fade_img li{position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;animation:fade 9s infinite; border-radius: 20px;}
    .fade_img ul li a{width: 100%; height: 100%; display: block;}
    .fade_img li:nth-child(1){background-image: url(../img/main/fade_banner1.jpg); animation-delay:0s; background-size: 100% 100%;}
    .fade_img li:nth-child(2){background-image: url(../img/main/fade_banner2.jpg); animation-delay:3s; background-size: 100% 100%;}
    .fade_img li:nth-child(3){background-image: url(../img/main/fade_banner3.jpg); animation-delay:6s; background-size: 100% 100%;}
    .product_button{width: 150px; height: 50px; border: 1px solid; color:#000; text-align: center; padding: 10px 0 10px 0; margin: 10% 0;  background-color: #fff; cursor: pointer;}
    .product_button a:link, .product_button a:visited {color:#000;}
    .product_button:hover{border: none; background-color: #000; color:#fff;}
    .product_button a:hover{color:#fff;}



    @keyframes fade {
      0% {opacity:0;}
      3% {opacity: 1;}
      33% {opacity: 1;}
      40% {opacity: 0;}
      100% {opacity:0;}
    }


    .event_slide{width: 100%; height:600px;overflow:hidden; margin: 0 auto; border-radius: 20px;}
    .event_slide ul{width:calc(100% * 3); display:flex; transition:1s;}
    .event_slide li{width:calc(100% / 3); height:600px;}
    .event_slide ul li a{width: 100%; height: 100%; display: block;}
    .event_slide li:nth-child(1){background-image: url(../img/main/event_banner1.jpg); background-size:100% 100%; background-repeat: no-repeat;}
    .event_slide li:nth-child(2){background-image: url(../img/main/event_banner2.jpg); background-size:100% 100%; background-repeat: no-repeat;}
    .event_slide li:nth-child(3){background-image: url(../img/main/event_banner3.jpg); background-size:100% 100%; background-repeat: no-repeat;}
    .event_slide input{display:none;}
    .slide_button{position:relative;bottom:35px;left:0;right:0;text-align:center;z-index:2;}
    .slide_button label{width:13px; height:13px; border-radius:10px; border:2px solid #666; display:inline-block; background:#fff; font-size:0; transition:0.5s; cursor:pointer;}
    #pos1:checked ~ ul{margin-left:0; transition: 1.3s;}
    #pos2:checked ~ ul{margin-left:-100%; transition: 1.3s; }
    #pos3:checked ~ ul{margin-left:-200%; transition: 1.3s;}
    #pos1:checked ~ .slide_button label:nth-child(1),
    #pos2:checked ~ .slide_button label:nth-child(2),
    #pos3:checked ~ .slide_button label:nth-child(3){background:#666;}

    .middle_banner{width: 100%; height: 800px; margin: 0 auto; padding: 100px 0 0 0 ;}
    .middle_banner a:link{color:#fff;}
    .middle_banner a:visited{color:#fff;}
    .puzzle_banner{width: 100%; height: 100%; margin:0 auto;  text-align: center;}
    .puzzle_banner img{width: 100%; height: 100%;}
    .puzzle_1{width: 49%; height: 55%; float: left; background:url(../img/main/puzzle_banner1.jpg); background-size: cover; overflow: hidden; font-size: 22px; margin: 0 0.5% 1% 0; border-radius: 20px;}
    .puzzle_text1{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0 auto; padding: 15% 0; transform: rotateY(-180deg);}
    .puzzle_banner span{color:darkgoldenrod; font-weight:bold; font-size: 24px;}
    .puzzle_1:hover .puzzle_text1{opacity: 0.63;  transition: 1.5s;  transform: rotateY(0deg) ;  }
    .puzzle_2{width: 49%; height: 55%; float: right; background:url(../img/main/puzzle_banner2.jpg); background-size: cover; overflow: hidden; font-size: 22px; margin: 0 0 1% 0.5%; border-radius: 20px;}
    .puzzle_text2{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 15% 0; transform: rotateY(-180deg);}
    .puzzle_2:hover .puzzle_text2{opacity: 0.63; transition: 1.5s;  transform: rotateY(0deg) ;  }
    .our{font-size: 36px; color: #fff;}
    .puzzle_3{width: 100%; height: 45%; float: left; background:url(../img/main/puzzle_banner3.jpg); background-size: cover; overflow: hidden; font-size: 22px; border-radius: 20px;}
    .puzzle_text3{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 5% 0; transform: rotateX(-180deg);}
    .puzzle_3:hover .puzzle_text3{opacity: 0.63;  transition: 1.5s;  transform: rotateX(0deg) ;  }
    .puzzle_text3 .detail_button{padding: 2% 0;}
    .detail_button{width: 120px; height: 50px; font-weight: bold; margin: 0 auto; padding:4% 0; background-color: #fff; color:#000; text-align: center; font-size: 14px; }
    }


    @media(min-width:1200px){
    .age_message{width: 100%; height: 100%; background-color: #000; opacity: 0.8; position: fixed; top: 0; left: 0; overflow: hidden; z-index: 3;} 
    .message_box { width: 400px; height: 400px; border: 1px solid #000; margin: 0 auto; position: fixed; top:25%; left: 39.5%; background-color: #13377d; color:#fff; z-index: 4; text-align: center; }
    .message_box p {font-size: 25px;}
    .message_box span{font-size: 13px ;}
    .yes_or_no{ display: flex; justify-content: space-around; }
    .yes, .no{width: 150px; height: 50px; background-color: #fff; color: #13377d; font-size: 20px; text-align: center; font-size:  36px; font-weight: bold;} 
    .yes {float: left; cursor: pointer;}
    .no{float: right; cursor: pointer;}
  
    
  
    .slide{width: 1200px; height:587px;overflow:hidden; margin: 0 auto; cursor: pointer;}
    .slide ul{width:calc(100% * 3);display:flex ;animation:slide 12s infinite;} 
    .slide li{width:calc(100% / 3);height:587px;}
    .slide ul li a{width: 100%; height: 100%; display: block;}
    .intro{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 10% 0 0 0;}
    .intro_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0; font-size: 28px;}
    .brand_introduce:hover .intro{opacity: 0.63;  transition: 0.7s; }
    .product_introduce{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 10% 0 0 0;}
    .pl_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 15px 0 0 0; font-size: 24px;}
    .product_link:hover .product_introduce{opacity: 0.63;  transition: 0.7s; }
    .hoegaarden_mas{width: 100%; height: 100%; background: #000 ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; text-align: center; margin: 0 auto; font-size: 28px; padding: 15% 0 0 0;}
    .mas_button{width:270px; height: 60px; font-weight: bold; background-color: #fff; color:#000; margin: 0 auto; padding: 10px 0 0 0 ; font-size: 28px;}
    .x_mas:hover .hoegaarden_mas{opacity: 0.63;  transition: 0.7s; }
    .slide li:nth-child(1){background-image: url(../img/main/main_banner1.jpg);}
    .slide li:nth-child(2){background-image: url(../img/main/main_banner2.jpg);}
    .slide li:nth-child(3){background-image: url(../img/main/main_banner3.jpg);}
    @keyframes slide {
      0% {margin-left:0;}
      20% {margin-left:0;}
      33% {margin-left:-100%;}
      50% {margin-left:-100%;}
      66% {margin-left:-200%;}
      80% {margin-left:-200%;}
      100% {margin-left:0;}
    }


    .story{width: 1200px; height: 1600px; text-align: center; margin: 0 auto;}
    .story>div {margin: 5% 0;}
    .text{width:  300px; height: 100%; float: left;}

    .story_video{width: 100%; height: 420px; float: left; font-size: 14px;}
    .story_video .text {margin: 0 0 0 5%;}
    .story_video iframe{width: 420px; height: 100%; float: left; border-radius: 20px;}
    .story_video h1 {padding:  25% 0 0 0;}
    .story_video p{font-size: 20px;}

    .story_brand{width: 100%; height: 420px; float: right; font-size: 14px;}
    .story_brand .text{width:400px; float: right; margin: 0 5% 0 0;}
    .story_brand h1{padding: 25% 0 0 0;}
    .story_brand img{float: right; width: 60%; height: 100%; margin: 0 auto; border-radius: 20px;}
    .brand_button{width: 150px; height: 50px; border: 1px solid; color:#000; text-align: center; padding: 10px 0 10px 0; margin: 10% 0; background-color: #fff; cursor: pointer;}
    .brand_button a:link, .brand_button a:visited {color:#000;}
    .brand_button:hover{border: none; background-color: #000; color:#fff;}
    .brand_button a:hover{color:#fff;}

    .story_product{width: 100%; height: 420px; float: left;font-size: 14px; overflow: hidden; position: relative; }
    .story_product .text{margin: 0 0 0 5%;}
    .story_product h1{padding: 25% 0 0 0;}
    .story_product span{font-size: 46px; color: #13377d; font-family: 'Great Vibes', cursive;}
    .fade_img{width: 420px; height: 100%; float: left;}
    .fade_img img {width: 100%; height: 100%; }
    .fade_img ul {position:relative; height: 100%;}
    .fade_img li{position:absolute;left:0;right:0;top:0;bottom:0;opacity:0;animation:fade 9s infinite; border-radius: 20px;}
    .fade_img ul li a{width: 100%; height: 100%; display: block;}
    .fade_img li:nth-child(1){background-image: url(../img/main/fade_banner1.jpg); animation-delay:0s}
    .fade_img li:nth-child(2){background-image: url(../img/main/fade_banner2.jpg); animation-delay:3s}
    .fade_img li:nth-child(3){background-image: url(../img/main/fade_banner3.jpg); animation-delay:6s}
    .product_button{width: 150px; height: 50px; border: 1px solid; color:#000; text-align: center; padding: 10px 0 10px 0; margin: 10% 0;  background-color: #fff; cursor: pointer;}
    .product_button a:link, .product_button a:visited {color:#000;}
    .product_button:hover{border: none; background-color: #000; color:#fff;}
    .product_button a:hover{color:#fff;}



    @keyframes fade {
      0% {opacity:0;}
      3% {opacity: 1;}
      33% {opacity: 1;}
      40% {opacity: 0;}
      100% {opacity:0;}
    }


    .event_slide{width: 1200px; height:600px;overflow:hidden; margin: 0 auto; border-radius: 20px;}
    .event_slide ul{width:calc(100% * 3); display:flex; transition:1s; }
    .event_slide li{width:calc(100% / 3); height:600px;}
    .event_slide ul li a{width: 100%; height: 100%; display: block;}
    .event_slide li:nth-child(1){background-image: url(../img/main/event_banner1.jpg);}
    .event_slide li:nth-child(2){background-image: url(../img/main/event_banner2.jpg);}
    .event_slide li:nth-child(3){background-image: url(../img/main/event_banner3.jpg);}
    .event_slide input{display:none;}
    .slide_button{position:relative;bottom:35px;left:0;right:0;text-align:center;z-index:2;}
    .slide_button label{width:13px; height:13px; border-radius:10px; border:2px solid #666; display:inline-block; background:#fff; font-size:0; transition:0.5s; cursor:pointer;}
    #pos1:checked ~ ul{margin-left:0; transition: 1.3s;}
    #pos2:checked ~ ul{margin-left:-100%; transition: 1.3s; }
    #pos3:checked ~ ul{margin-left:-200%; transition: 1.3s;}
    #pos1:checked ~ .slide_button label:nth-child(1),
    #pos2:checked ~ .slide_button label:nth-child(2),
    #pos3:checked ~ .slide_button label:nth-child(3){background:#666;}

    .middle_banner{width: 800px; height: 800px; margin: 0 auto; padding: 100px 0 0 0 ; }
    .middle_banner a:link{color:#fff;}
    .middle_banner a:visited{color:#fff;}
    .puzzle_banner{width: 100%; height: 100%; margin:0 auto;  text-align: center;}
    .puzzle_banner img{width: 100%; height: 100%;}
    .puzzle_1{width: 49%; height: 55%; float: left; background:url(../img/main/puzzle_banner1.jpg); background-size: cover; overflow: hidden; font-size: 22px; margin: 0 0.5% 1% 0; border-radius: 20px;}
    .puzzle_text1{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0 auto; padding: 25% 0; transform:  rotateY(-180deg);}
    .puzzle_banner span{color:darkgoldenrod; font-weight:bold; font-size: 24px;}
    .puzzle_1:hover .puzzle_text1{opacity: 0.63;  transition: 1.5s;  transform: rotateY(0deg) ; }
    .puzzle_2{width: 49%; height: 55%; float: right; background:url(../img/main/puzzle_banner2.jpg); background-size: cover; overflow: hidden; font-size: 22px; margin: 0 0 1% 0.5%; border-radius: 20px;}
    .puzzle_text2{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 25% 0; transform:  rotateY(-180deg);}
    .puzzle_2:hover .puzzle_text2{opacity: 0.63;  transition: 1.5s;  transform: rotateY(0deg) ;}
    .our{font-size: 36px; color: #fff;}
    .puzzle_3{width: 100%; height: 45%; float: left; background:url(../img/main/puzzle_banner3.jpg); background-size: cover; overflow: hidden; font-size: 22px; border-radius: 20px;}
    .puzzle_text3{width: 100%; height: 100%; background: #13377d ; color:#fff; opacity: 0; cursor: pointer; margin: 0% auto; padding: 10% 0; transform: rotateX(-180deg) ;}
    .puzzle_3:hover .puzzle_text3{opacity: 0.63;  transition: 1.5s;  transform: rotateX(0deg) ;  }
    .puzzle_text3 .detail_button{padding: 2% 0;}
    .detail_button{width: 120px; height: 50px; font-weight: bold; margin: 0 auto; padding:4% 0; background-color: #fff; color:#000; text-align: center; font-size: 14px; }
    }
